<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head') %>

<body>

    <header>

        <div class="container mt-5">

            <% if (task == null) { %>

                <h1>#Todo</h1>

                <form action="/create" method="post" class="d-flex">

                    <input type="text" name="task" id="task" placeholder="Descreva seus medos, padawan" class="form-control">

                    <input type="submit" id="addBtn" value="Adicionar" class="btn btn-primary btn-md mx-2">

                </form>
    
            <% } else { %>
                
                <h1>#Todo</h1>
    
                <form action="/updateOne/<%= task._id %>" method="post" class="d-flex">

                    <input type="text" name="task" id="task" value="<%= task.task %>" class="form-control">

                    <input type="submit" id="addBtn" value="Edit Todo" class="btn btn-primary btn-md mx-2">

                </form>
    
            <% } %>

            <%- include('partials/tasks') %> 

        </div>

    </header>

    <%- include('partials/modal') %> 

<%- include('partials/footer') %> 
</body>
</html>